<template>
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">{{$t('settings.phraseSettingsCommon')}}</legend>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">{{$t('settings.phraseSelectLanguage')}}</label>
            <div class="uk-form-controls">
                <select v-model="commonLang" @change="languageChange" class="uk-select" id="form-stacked-select">
                    <option v-for="lang in languages" :value="lang.code">{{lang.localizedTitle}}</option>
                </select>
            </div>
        </div>
    </fieldset>
</template>

<script>
  import computedCommon from './computedCommon'
  import { lang, keys } from '../../languages/index.js'

  export default {
    name: 'common',
    computed: {...computedCommon},
    data () {
      return {
        languages: []
      }
    },
    mounted () {
      keys.forEach(key => {
        this.languages.push(lang[key].__info)
      })
    },
    methods: {
      languageChange () {
        this.$i18n.set(this.commonLang)
      }
    }
  }
</script>

<style scoped>

</style>
