<template>
    <div>
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">{{$t('settings.phraseSettingsStorage')}}</legend>
            <div class="uk-margin">
                <label class="uk-form-label" for="lib-path">{{$t('settings.phraseSelectPathForLibrary')}}</label>
                <div class="uk-width-1-1" uk-form-custom="target: true">
                    <input id="lib-path" nwdirectory type="file" @change="libPathSelected">
                    <input class="uk-input uk-width-1-1" type="text" :placeholder="storageLibraryPath"
                           disabled>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="storage-path">{{$t('settings.phraseSelectPathForDownloads')}}</label>
                <div class="uk-width-1-1" uk-form-custom="target: true">
                    <input id="storage-path" nwdirectory type="file" @change="dPathSelected">
                    <input class="uk-input uk-width-1-1" type="text" :placeholder="storageDownloadsPathPath"
                           disabled>
                </div>
            </div>
        </fieldset>
    </div>
</template>

<script>
  import storage from './computedStorage'

  export default {
    name: 'storage',
    computed: {...storage},
    methods: {
      libPathSelected (f) {
        if (!f.target.value.length) return
        this.storageLibraryPath = f.target.value
      },
      dPathSelected (f) {
        if (!f.target.value.length) return
        this.storageDownloadsPathPath = f.target.value
      }
    }
  }
</script>

<style scoped>

</style>
