<template>
    <div>
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">{{$t('settings.phraseSettingsTorrent')}}</legend>
            <div class="uk-margin">
                <label><input v-model="torrentAllowSeeding" class="uk-checkbox" type="checkbox" checked>
                    {{$t('settings.phraseAllowSeeding')}}</label>
            </div>
            <div class="uk-margin">
                <label><input v-model="torrentAutoStart" class="uk-checkbox" type="checkbox" checked>
                    {{$t('settings.phraseAutoStart')}}</label>
            </div>
        </fieldset>
    </div>
</template>

<script>
  import torrent from './computedTorrent'

  export default {
    name: 'torrent',
    computed: {...torrent}
  }
</script>

<style scoped>

</style>
