<template>
    <div>
        <!--development in progress-->
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">Please select the file
            </legend>
            <div class="uk-text-small">
                <span class="uk-label"
                      :class="{
                          'uk-label-danger': !this.status.listening,
                          'uk-label-success': this.status.listening && this.status.fileSelected,
                          'uk-label-warning': this.status.listening && !this.status.fileSelected,
                          }">server
                    <template v-if="!this.status.listening">Down</template>
                    <template v-if="this.status.listening && !this.status.fileSelected">Wait</template>
                    <template v-if="this.status.listening && this.status.fileSelected">Up</template>
                </span>
            </div>
            <div class="uk-margin">
                <div class="uk-width-1-1" uk-form-custom="target: true">
                    <input type="file" @change="fileSelected">
                    <input class="uk-input uk-width-1-1" type="text" placeholder="Select file" disabled>
                </div>
            </div>
        </fieldset>
    </div>
</template>

<script>
  import server from '../../service/server/FileServer.js'
  import bus from '../../bus'
  import events from '../../events'

  export default {
    name: 'file',
    data () {
      return {
        file: false,
        status: server.status()
      }
    },
    mounted () {
      server.onChangeStatus((status) => {
        this.status = status
      })
      server.start(2457)
        .then(info => {
          console.info(info)
        })
        .catch(e => {
          console.error(e)
        })
    },
    watch: {
      file (value) {
        console.info(value)
      }
    },
    methods: {
      fileSelected (f, a, d) {
        console.info(f.target.value)
        if (!f.target.value.length) {
          return
        }
        server.setStreamingPath(f.target.value).then(url => {
          bus.$emit(events.player.url, url)
          bus.$emit(events.player.play)
        })
      }
    }
  }
</script>

<style lang="less">

</style>
