<template>
    <div class="youtube">
        <fieldset class="uk-fieldset">
            <legend v-if="!title" class="uk-legend">Please insert Youtube URL</legend>
            <legend v-if="title" class="uk-legend">{{title}}</legend>

            <div class="uk-margin">
                <input v-model="url" class="uk-input" type="text" placeholder="youtube video url">
            </div>
        </fieldset>
        <div class="uk-margin-bottom" v-if="description">
            <div uk-grid>
                <div v-if="thumbnail" class="uk-width-1-6">
                    <img :src="thumbnail" alt="image">
                </div>
                <div class="uk-width-expand">

                    <button class="uk-button uk-button-default"
                            type="button"
                            uk-toggle="target: #toggle-animation-multiple; animation: uk-animation-fade">
                        show description
                    </button>
                    <div id="toggle-animation-multiple"
                         class="uk-card uk-card-default uk-card-body uk-margin-small" hidden>
                        {{description}}
                    </div>
                </div>

            </div>
        </div>
        <fieldset class="uk-fieldset">
            <div class="uk-margin">
                <label>
                    <select v-model="selectedFormat" class="uk-select">
                        <option v-for="(format, index) in formats" :value="index">
                            ({{format.quality}}){{format.resolution}} {{format.container}}
                            {{format.audioEncoding}}/{{format.encoding}}
                        </option>
                    </select>
                </label>
            </div>
        </fieldset>
        <hr>
        <div class="uk-child-width-1-3@l uk-child-width-1-2 uk-grid-small uk-text-center uk-grid-match" uk-grid>
            <div v-for="relatedVideo in relatedVideos" v-if="!relatedVideo.list">
                <div class="uk-card uk-card-small uk-card-default uk-card-hover" @click="openRelated(relatedVideo.id)">
                    <div class="uk-card-media-top">
                        <img :src="relatedVideo.iurlhq" :alt="relatedVideo.title">
                    </div>
                    <div class="uk-card-header">
                        <p>{{relatedVideo.author}}</p>
                    </div>
                    <div class="uk-card-body">
                        <p>{{relatedVideo.title}}</p>
                    </div>
                    <div class="uk-card-footer">
                        <div class="uk-badge uk-label">{{relatedVideo.length_seconds}}s</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import youtubeDl from 'ytdl-core'
  // import database from '../../service/database'
  import events from '../../events.js'
  import bus from '../../bus.js'

  export default {
    name: 'you-tube',
    props: {},
    data () {
      return {
        url: '',
        videoId: '',
        title: false,
        description: false,
        formats: [],
        relatedVideos: [],
        thumbnail: false,
        selectedFormat: 0
      }
    },
    computed: {
      format: {
        get () {
          return this.formats[this.selectedFormat]
        }
      }
    },
    watch: {
      url (val) {
        this.change(val)
      },
      format (val) {
        bus.$emit(events.player.url, val.url)
        bus.$emit(events.player.play)
      }
    },
    mounted () {

    },
    methods: {
      change (url) {
        youtubeDl.getInfo(url, (err, data) => {
          this.thumbnail = false
          this.title = false
          this.description = false
          this.relatedVideos = []
          if (err) console.error(err)
          this.thumbnail = data.thumbnail_url
          this.title = data.title
          this.description = data.description
          this.formats = data.formats
          this.relatedVideos = data.related_videos
        })
      },
      openRelated (id) {
        this.url = `https://www.youtube.com/watch?v=${id}`
      }
    }
  }
</script>

<style lang="less">
    .youtube {
        .uk-label {
            background: hsl(0, 100%, 50%);
        }
        .uk-card {
            cursor: pointer;
        }
    }
</style>
