<template>
    <div class="menu">
        <div class="menu-button">
            <ul class="uk-iconnav">
                <li>
                    <a href="#"
                       class="text-white"
                       uk-icon="icon: tv"
                       uk-toggle="target: #offcanvas-settings"></a>
                </li>
                <router-link tag="li" :to="{ name: 'ConfigScreen'}">
                    <a href="#"
                       class="text-white"
                       uk-icon="icon: settings"
                    ></a>
                </router-link>
                <router-link tag="li" :to="{ name: 'HomeScreen'}">
                    <a href="#"
                       class="text-white"
                       uk-icon="icon: home"
                    ></a>
                </router-link>
            </ul>
        </div>
        <div class="window-title">
            <span class="alt-title"> {{title}}</span>
        </div>
        <div class="right">
            <div class="minimize-button" @click="minimize">
                <svg enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon  points="23.1,34.1 51.5,61.7 80,34.1 81.5,35 51.5,64.1 21.5,35 23.1,34.1 "/></svg>
            </div>
            <div v-if="isMaximized" class="un-maximize-button" @click="unmaximize">
                <svg enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><polygon  points="79.6,49.6 79.6,77.5 23.5,77.5 23.5,24.7 51.9,24.7 51.9,22.8 21.5,22.8 21.5,79.5 81.5,79.5     81.5,49.6 79.6,49.6   "/></g><polygon  points="81.7,32.6 81.6,32.6 71.6,22.6 70.2,23.9 78.1,31.7 38.5,31.7 38.5,33.6 78.1,33.6 70.1,41.6 71.4,42.9 81.7,32.7    81.7,32.7  "/></g></svg>
            </div>
            <div v-if="!isMaximized" class="maximize-button" @click="maximize">
                <svg enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon  points="22.4,64.1 50.8,36.5 79.3,64.1 80.8,63.2 50.8,34.1 20.8,63.2 22.4,64.1 "/></svg>
            </div>
            <div class="close-button" @click="close">
                <svg enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 "/></svg>
            </div>
        </div>
    </div>
</template>

<script>
  import nw from 'nw.gui'

  let win = nw.Window.get()

  export default {
    name: 'header-bar',
    data () {
      return {
        isMinimized: false,
        isMaximized: false
      }
    },
    computed: {
      title () {
        return this.$store.state.app.title
      }
    },
    mounted () {
      win.on('maximize', () => {
        this.isMaximized = true
      })
      win.on('minimize', () => {
        this.isMinimized = true
      })
      win.on('restore', () => {
        console.info(nw)
        console.info(win.window.chrome.app.window.current().isMaximized())
        if (!win.window.chrome.app.window.current().isMaximized()) {
          this.isMaximized = false
        }
        this.isMinimized = false
      })
      win.on('unmaximized', () => {
        this.isMaximized = false
      })
    },
    methods: {
      minimize () {
        win.minimize()
      },
      unmaximize () {
        win.restore()
        this.isMinimized = false
        this.isMaximized = false
      },
      maximize () {
        win.maximize()
      },
      close () {
        win.close()
      }
    }
  }
</script>

<style lang="less">
    @import "../../assets/less/variables";

    .menu {
        height: 30px;
        position: relative;
        z-index: 500;
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        text-align: left;
        z-index: 100;
        background: @global-secondary-background;
        margin-bottom: -30px;
        display: flex;
        &:hover > .menu-button, &:hover > .right {
            opacity: 1;
        }

        .menu-button {
            text-align: left;
            display: inline-block;
            color: #fff;
            text-shadow: 1px 1px 5px @global-secondary-background;
            padding: 6px 10px;
            transition: opacity 300ms ease-in-out;
        }

        .right {
            display: flex;
            align-items: right;
            flex-wrap: nowrap;
            transition: opacity 300ms ease-in-out;
            div {
                height: 100%;
                width: 30px;
                display: inline-block;
                transition: all 300ms ease-in-out;
                svg {

                    height: 100%;
                    polygon {
                        fill: #fff;
                        transition: all 300ms ease-in-out;
                    }
                }
            }

            div:hover {
                -webkit-app-region: no-drag;
                background: rgba(0, 0, 0, 0.5);

                svg {
                    polygon {
                        fill: @global-primary-background;
                        transition: all 300ms ease-in-out;
                    }
                }
            }

            #close:hover {
                color: @global-danger-background;
                svg {
                    polygon {
                        fill: @global-danger-background;
                        transition: all 300ms ease-in-out;
                    }
                }
            }

        }

        .window-title {
            -webkit-app-region: drag;
            color: @global-background;
            background: transparent;
            font-size: 14px;
            display: flex;
            flex-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            position: relative;
            span {
                margin-left: 10px;
            }
            .alt-title {
                color: @global-color;
            }
            &:after {
                content: "";
                position: absolute;
                z-index: 1;
                background: linear-gradient(to right, transparent 0%, @global-secondary-background 80%);
                width: 40px;
                height: 100%;
                right: 0;
                top: 0;
            }
        }
        .router-link-exact-active {
            display: none;
        }
    }
</style>
