<template>
    <div id="offcanvas-settings" uk-offcanvas="mode: slide; overlay: true">
        <div class="uk-offcanvas-bar">

            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h3>{{$t('common.wordDevices')}}</h3>
            <devices />

        </div>
    </div>
</template>

<script>
  import Devices from '../Devices.vue'

  export default {
    name: 'off-canvas-bar',
    data () {
      return {
        devices: {}
      }
    },
    components: {
      Devices
    }
  }
</script>

<style scoped>

</style>
