<template>
    <div class="magnet">
        <p class="uk-text-danger">This widget is experimental</p>
        <fieldset v-if="!files.length" class="uk-fieldset">
            <legend class="uk-legend">Please insert magnet URL</legend>
            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <a @click="startDownload" class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: link"></a>
                    <input v-model="magnet" class="uk-input" type="text">
                </div>
            </div>
        </fieldset>
        <div v-if="files.length" class="uk-margin">
            <h3>Please select file from torrent
                <a @click.prevent="destroyTorrent"
                   class="uk-button uk-button-danger uk-button-small" href="#">Stop Downloading</a>
            </h3>
            <ul class="uk-list uk-list-divider">
                <li v-for="(file, index) in files">
                    <div uk-grid>
                        <div class="uk-width-5-6">{{file.name}}</div>
                        <div class="uk-width-1-6">
                            <button @click="setUrl(index)" class="uk-button uk-button-small uk-button-primary">select
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
  import WebTorrent from 'webtorrent'
  import computed from '../computed.js'
  import network from 'network'
  import events from '../../events.js'
  import bus from '../../bus.js'

  export default {
    name: 'magnet',
    computed: {...computed},
    data () {
      return {
        magnet: '',
        files: [],
        selected: 0,
        ip: '',
        port: 65336
      }
    },
    mounted () {
      network.get_private_ip((err, ip) => {
        if (err) console.info(err)
        this.ip = (ip || '127.0.0.1')
      })
    },
    methods: {
      startDownload () {
        if (!this.magnet) {
          return
        }
        this.files = []
        if (this.server) {
          this.server.close()
        }
        if (this.client) {
          this.client.destroy(() => {})
        }
        this.client = new WebTorrent()
        this.client.add(this.magnet, {path: `tmp/`}, (torrent) => {
          this.server = torrent.createServer().listen(this.port)
          console.info('Client is downloading:', torrent.infoHash)
          torrent.files.forEach((file) => {
            this.files.push(file)
          })
          this.setUrl(0)
        })
      },
      destroyTorrent () {
        bus.$emit(events.player.stop)

        this.files = []
        this.url = ''
        if (this.server) {
          this.server.close(() => {
            this.server = false
          })
        }
        if (this.client) {
          this.client.destroy(() => {
            this.client = false
          })
        }
      },
      setUrl (id) {
        this.url = `http://${this.ip}:${this.port}/${id}`
        bus.$emit(events.player.url, this.url)
        bus.$emit(events.player.play, this.url)
      }
    }
  }
</script>

<style scoped>

</style>
