<template>
    <div class="uk-container uk-margin-top">
        <ul uk-tab>
            <li><a href="#"><span uk-icon="icon:server"></span> {{$t('settings.headerCommon')}}</a></li>

            <li><a href="#"><span uk-icon="icon:server"></span> {{$t('settings.headerStorage')}}</a></li>

            <li><a href="#"><span uk-icon="icon:download"></span> {{$t('settings.headerTorrent')}}</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
            <li>
                <common></common>
            </li>
            <li>
                <storage></storage>
            </li>
            <li>
                <torrent></torrent>
            </li>

        </ul>
    </div>
</template>

<script>
  import Common from './Config/Common.vue'
  import Storage from './Config/Storage.vue'
  import Torrent from './Config/Torrent.vue'

  export default {
    name: 'config-screen',
    components: {
      Common,
      Storage,
      Torrent
    },
    data () {
      return {}
    },
    mounted () {
      this.$store.commit('app:title', this.$t('settings.title'))
    }
  }
</script>

<style scoped>

</style>
