<template>
    <div @click="select()" class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div class="uk-width-auto">
            <span uk-icon="tv"></span>
        </div>
        <div>
            {{device.getName()}}
        </div>
        <div class="uk-width-auto">
            <input  class="uk-checkbox" type="checkbox" :checked="selectedDevice ? selectedDevice.shortId === device.shortId : false">
        </div>
    </div>
</template>

<script>
  import computed from './computed.js'
  import Storage from '../service/localStorage/Storage.js'

  let deviceSettings = Storage.getLocalStorage('_nwDevice')

  export default {
    name: 'home-screen',
    props: {
      device: {type: Object}
    },
    computed: {...computed},
    data () {
      return {
        state: 'stop'
      }
    },
    mounted () {
      window.d = this.device
      if (deviceSettings.get('deviceName') === this.device.getName()) {
        this.selectedDevice = this.device
        this.$store.commit('app:title', `play on ${this.device.getTitle()}`)
      }
    },
    methods: {
      select () {
        this.selectedDevice = this.device
        deviceSettings.set('deviceName', this.device.getName()).flush()
        this.$store.commit('app:title', `play on ${this.device.getTitle()}`)
      }
    }
  }
</script>

<style scoped>

</style>
