<template>
    <ul class="uk-list uk-list-divider">
        <li v-for="device in devices">
            <device :device="device"/>
        </li>
    </ul>
</template>

<script>
  import hardware from '../service/Devices'
  import Device from './Device.vue'
  import computed from './computed.js'

  export default {
    name: 'devices',
    data () {
      return {
        devices: {}
      }
    },
    computed: computed,
    components: {
      Device
    },
    mounted () {
      hardware.addUpdateListener((devices, device) => {
        console.info('devices:', devices)
        console.info('device:', device)
        this.devices = Object.values(devices)
        console.info('this.devices:', this.devices)
      })
    },
    methods: {}
  }
</script>

<style scoped>

</style>
