<template>
    <div class="uk-container uk-margin-top">
        <ul uk-tab>
            <li><a href="#"><span uk-icon="icon:world"></span> {{$t('common.wordURL')}}</a></li>
            <li><a href="#"><span uk-icon="icon:folder"></span> {{$t('common.wordFile')}}</a></li>
            <li><a href="#"><span uk-icon="icon:youtube"></span> {{$t('common.wordYoutube')}}</a></li>
            <li><a href="#"><span uk-icon="icon:link"></span> {{$t('common.wordTorrent')}}</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
            <li>
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">{{$t('common.phrasePleaseInsertUrl')}}</legend>

                    <div class="uk-margin">
                        <input v-model="url" class="uk-input" type="text" :placeholder="$t('common.wordURL')">
                    </div>
                </fieldset>
                <div class="uk-card uk-card-default uk-padding uk-margin-small uk-card-hover"
                     v-for="item in history"
                     @click="playHistory(item.url)">
                    <div class="uk-grid-divider" uk-grid>
                        <div class="uk-width-expand">
                            <div class="nowrap-ellipsis">
                                {{item.url}}
                            </div>
                        </div>
                        <div class="uk-width-auto">{{getHumanizeTime(item.timestamp)}}</div>
                    </div>
                </div>
            </li>
            <li>
                <file/>
            </li>
            <li>
                <you-tube/>
            </li>
            <li>
                <magnet/>
            </li>
        </ul>
    </div>
</template>

<script>
  import YouTube from './youtube/YouTube.vue'
  import File from './Files/File.vue'
  import Magnet from './torrent/Magnet.vue'
  import computed from './computed.js'
  import database from '../service/database'
  import moment from 'moment'
  import bus from '../bus'
  import events from '../events'

  let playerHistory = database.get('player.history')
  export default {
    name: 'home-screen',
    data () {
      return {
        history: []
      }
    },
    computed: {...computed},
    components: {
      YouTube,
      File,
      Magnet
    },
    mounted () {
      this.$store.commit('app:title', this.$t('common.phraseWelcomeToStreamer'))
      this.loadHistory()
      bus.$on(events.player.actions.play, this.loadHistory)
    },
    methods: {
      title () {
        return 1
      },
      loadHistory () {
        playerHistory.then(database => {
          database.query({}, {timestamp: -1}, null, 10).then(results => {
            this.history = results
          })
        })
      },
      getHumanizeTime (time) {
        return moment(time).fromNow()
      },
      playHistory (url) {
        this.url = url
        bus.$emit(events.player.url, url)
        bus.$emit(events.player.play)
      }
    }
  }
</script>

<style lang="less">
    .nowrap-ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
