<template>
    <div class="player-container">
        <div class="player-progress">
            <div class="track" :style="{width: status.progressInPercent + '%'}"></div>
            <div class="caret"></div>
            <div class="track-control" @click="progressClick"></div>
        </div>
        <div class="controls">
            <a @click="backward" :class="{'uk-hidden': !(state !== 'stop')}" class="uk-button uk-button-small" href="#">
                <span uk-icon="icon:player.backward; ratio: 2"></span>
            </a>
            <a @click="play" :class="{'uk-hidden': !(state === 'stop')}" class="uk-button uk-button-small" href="#">
                <span uk-icon="icon:player.play; ratio: 2"></span>
            </a>
            <a @click="resume" :class="{'uk-hidden': !(state === 'pause')}" class="uk-button uk-button-small" href="#">
                <span uk-icon="icon:player.play; ratio: 2"></span>
            </a>
            <a @click="pause" :class="{'uk-hidden': !(state === 'play')}" class="uk-button uk-button-small" href="#">
                <span uk-icon="icon:player.pause; ratio: 2"></span>
            </a>
            <a @click="stop" :class="{'uk-hidden': !(state !== 'stop')}" class="uk-button uk-button-small" href="#">
                <span uk-icon="icon:player.stop; ratio: 2"></span>
            </a>
            <a @click="forward" :class="{'uk-hidden': !(state !== 'stop')}" class="uk-button uk-button-small" href="#">
                <span uk-icon="icon:player.forward; ratio: 2"></span>
            </a>
        </div>

        <div class="meta">
            <div class="info">
                <div class="device">
                    <span uk-icon="tv"></span>
                    <template v-if="!selectedDevice">Please select device</template>
                    <template v-if="selectedDevice">{{selectedDevice.getName()}}</template>
                </div>
                <div class="path">
                    <small>{{playingUrl}}</small>
                </div>
            </div>

            <div class="status">{{duration(status.position)}}/{{duration(status.duration)}}</div>
        </div>
    </div>
</template>

<script>
  import moment from 'moment'
  import computed from './computed.js'
  import bus from '../bus.js'
  import events from '../events.js'
  import UiKit from 'uikit'
  import database from '../service/database'

  let playerHistory = database.get('player.history')
  export default {
    name: 'player',
    data () {
      return {
        state: 'stop',
        playingUrl: '',
        lastUrl: '',
        status: {
          duration: 0,
          position: 0,
          progressInPercent: 0
        }
      }
    },
    mounted () {
      bus.$on(events.player.stop, this.stop)
      bus.$on(events.player.play, this.play)
      bus.$on(events.player.resume, this.resume)
      bus.$on(events.player.forward, this.forward)
      bus.$on(events.player.backward, this.backward)
      bus.$on(events.player.url, this.setUrl)

      setInterval(() => {
        if (this.selectedDevice) {
          this.selectedDevice.getStatus()
            .then((status) => {
              // console.info(status)
              if (!status.duration) {
                status.duration = 0
              }
              if (!status.position) {
                status.position = 0
              }
              if ((!status.readyToPlay) && (this.state === 'play')) {
                bus.$emit('finished')
                this.stop()
              }
              this.status = status
              this.status.progressInPercent = this.getProgressInPercents(status.duration, status.position)
            })
            .catch(e => {
              console.error(e)
            })
        }
      }, 500)
    },
    computed: {...computed},
    methods: {
      setUrl (url) {
        this.playingUrl = url
      },
      play () {
        this.selectedDevice.play(this.playingUrl)
          .then(result => {
            this.state = 'play'
            if (this.playingUrl !== this.lastUrl) {
              playerHistory.then(database => {
                database.insert({url: this.playingUrl, title: 'Unknown title', timestamp: new Date()})
              })
            }
            this.lastUrl = this.playingUrl
            bus.$emit('play')
          })
          .catch(e => {
            console.error(e)
            UiKit.notification({
              message: e.message,
              status: 'danger',
              pos: 'top-right',
              timeout: 5000
            })
          })
      },
      pause () {
        this.selectedDevice.pause()
        bus.$emit('pause')
        this.state = 'pause'
      },
      resume () {
        this.selectedDevice.resume()
        bus.$emit('resume')
        this.state = 'play'
      },
      stop () {
        this.selectedDevice.stop()
        bus.$emit('stop')
        this.state = 'stop'
        this.status = {
          duration: 0,
          position: 0,
          progressInPercent: 0
        }
      },
      forward () {
        this.selectedDevice.forward(60)
      },
      backward () {
        this.selectedDevice.backward(60)
      },
      getProgressInPercents (max, current) {
        return current / (max / 100)
      },
      progressClick (e) {
        if (!this.status.duration) return
        let progress = e.offsetX / (e.target.offsetWidth / 100)
        this.selectedDevice.navigate(this.getNavigationProgress(progress))
      },
      getNavigationProgress (progress) {
        return this.status.duration / 100 * progress
      },
      duration (s) {
        let d = moment.duration(s, 'seconds')
        return (d.hours() ? `${d.hours()}:` : '') + (d.minutes() ? `${d.minutes()}:` : '') + d.seconds()
      }
    }
  }
</script>

<style lang="less">
    .player-container {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 70px;
        width: 100%;
        border: 1px solid #0c1018;
        border-top: none;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding-top: 10px;
        .player-progress {
            position: absolute;
            top: 0;
            height: 10px;
            background: #fafafa;
            left: 0;
            width: 100%;
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            .track {
                background: #0f6ecd;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                transition: all 300ms;
            }
            .track-control {
                position: absolute;
                z-index: 999;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }
        }
        .meta {
            padding-left: 10px;
            position: relative;
            display: flex;
            flex: 1 1 auto;
            height: 100%;
            box-sizing: border-box;
            align-items: center;
            justify-content: space-between;
            padding-right: 20px;
            .info {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                .path {
                    height: 13px;
                    position: relative;
                    small {
                        width: 100%;
                        position: absolute;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
        .controls {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .uk-button {
                color: #0f6ecd;
                height: 100%;
                border-right: #ddd 1px solid;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    color: #0f56ab;
                    background: #f9f9f9;
                }
                &:active {
                    color: #45a656;
                    background: #efefef;
                }
            }

        }

    }
</style>
