@breakpoint-small: 400px; // Phone landscape
@breakpoint-medium: 960px; // Tablet Landscape
@breakpoint-large: 1200px; // Desktop
@breakpoint-xlarge: 1600px; // Large Screens
//
// Colors
//

@global-color: #666;
@global-emphasis-color: #333;
@global-muted-color: #999;

@global-link-color: #1e87f0;
@global-link-hover-color: #0f6ecd;

@global-inverse-color: #fff;

//
// Backgrounds
//

@global-background: #fff;

@global-muted-background: #fcfcfc;
@global-primary-background: #3f99e9;
@global-secondary-background: #0c1018;

@global-success-background: #32d296;
@global-warning-background: #faa05a;
@global-danger-background: #f0506e;

//
// Borders
//

@global-border-width: 1px;
@global-border: #e5e5e5;