<template>
    <div class="search-bar uk-flex uk-flex-column uk-padding">
        <div class="uk-search uk-search-default uk-flex full-width">
            <span uk-search-icon></span>
            <input class="uk-search-input" type="search" v-model="searchString">
            <a href="#" class="uk-button" @click="search">Go!</a>
        </div>
        <button class="uk-button  uk-button-link" type="button">Select genres</button>
        <div uk-dropdown="pos: bottom-justify; mode: click">
            <div class="uk-dropdown-grid uk-child-width-1-2@s genres" uk-grid>
                <div class="included">
                    <h4>Include this categories</h4>
                    <div class="uk-flex uk-flex-wrap">
                        <label v-for="genre in categories"
                               :class="{'included-genre': includedCategories.includes(genre)}">
                            <input type="checkbox" class="uk-checkbox" v-model="includedCategories" :value="genre">
                            {{genre.title}}
                        </label>
                    </div>
                </div>
                <div class="excluded">
                    <h4>Exclude this categories</h4>
                    <div class="uk-flex uk-flex-wrap">
                        <label v-for="genre in categories"
                               :class="{'excluded-genre': excludedCategories.includes(genre)}">
                            <input type="checkbox" class="uk-checkbox" v-model="excludedCategories" :value="genre">
                            {{genre.title}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="categories" v-if="searchString.length || excludedCategories.length || includedCategories.length">
            Search from Zona repo with
            <template v-if="searchString.length">request <span class="global-success-font"> {{searchString}} </span>
                <template v-if="excludedCategories.length || includedCategories.length"> and</template>
            </template>
            <template v-if="excludedCategories.length"> excluded categories [
                <span v-for=" (category, index) in excludedCategories" class="global-danger-font">{{category.title}}<template
                        v-if="!(index + 1 === excludedCategories.length)">, </template> </span> ]
                <template v-if="includedCategories.length"> and</template>
            </template>
            <template v-if="includedCategories.length">
                excluded categories [
                <span v-for=" (category, index) in includedCategories" class="global-primary-font">{{category.title}}<template
                        v-if="!(index + 1 === includedCategories.length)">, </template> </span> ]
            </template>
            .
        </div>
    </div>
</template>

<script>
  import Search from '../../Plugins/Search'

  const search = new Search()

  export default {
    name: 'basic-search',
    data () {
      return {
        searchString: '',
        categories: [],
        includedCategories: [],
        excludedCategories: []
      }
    },
    mounted () {
      search.getGenres().then((genres) => {
        this.categories = genres
        console.info(genres)
      })
    },
    methods: {
      search () {
        search.reset()
        search.setString(this.searchString)
        search.includeGenres(this.includedCategories)
        search.excludeGenres(this.excludedCategories)
        search.search().then((result) => {
          window.console.info(result)
        })
        this.$store.state.app.title = `Search with request '${this.searchString}'`
      }
    }
  }
</script>

<style lang="less">
    @import "../../assets/less/variables";

    .full-width {
        width: auto;
    }

    .categories {
        font-size: 12px;
    }

    .genres {
        label {
            border: 1px solid @global-border;
            margin: 2px;
            padding: 2px 10px 2px 10px;;
        }
        .included-genre {
            background: @global-primary-background;
            color: @global-background;
        }
        .excluded-genre {
            background: @global-danger-background;
            color: @global-background;
        }
    }

    .global-success-font {
        color: @global-success-background;
    }

    .global-danger-font {
        color: @global-danger-background;
    }

    .global-primary-font {
        color: @global-primary-background;
    }
</style>