<template>
    <div class="uk-offcanvas-content">
        <off-canvas-bar/>
        <header-bar/>
        <div class="content">
            <router-view/>
        </div>
        <player/>
    </div>
</template>

<script>
  import HeaderBar from './components/HeaderBar/HeaderBar.vue'
  import OffCanvasBar from './components/HeaderBar/OffCanvasBar'
  import Player from './components/Player.vue'

  export default {
    name: 'app',
    components: {
      HeaderBar,
      OffCanvasBar,
      Player
    },
    created () {
      this.$store.commit('app:title', 'Loading Your torrent Player')
    },
    mounted () {
    }
  }
</script>

<style lang="less">
    @import "~uikit/src/less/components/_import.less";
    @import "assets/less/variables";
    @import "~uikit/src/less/theme/_import.less";

    html {
        height: 100%;
        display: flex;
    }

    body {
        background: @global-background;
        width: 100%;
        border-left: 1px solid #0c1018;
        border-right: 1px solid #0c1018;
        border-bottom: 1px solid #0c1018;
    }

    .uk-offcanvas-content {
        background: @global-background;
        height: 100%;
        margin-bottom: -1px;
    }

    .content {
        margin-top: 30px;
        overflow: auto;
        height: ~"calc( 100% - 30px)";
        position: relative;
        padding-bottom: 70px;
        box-sizing: border-box;
    }
</style>
